@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,700&display=swap');

*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: -1;
}
.main{
    max-width: 1440px;
    margin: auto;
    padding: 1rem 5rem;
    z-index: 1;
}
h1{
    font-size: 3rem;
    font-weight: 500;
    margin-top: 4rem;
}
h2{
    font-size: 1.5rem;
    font-weight: 400;
}
a{
    color: #fff;
    text-decoration: none;
}
a:hover{
    cursor: pointer;
}
.with-bg{
    padding: .5rem 1rem;
    background-color: #2917F3;
    border-radius: 7px;
    display: flex;
    width: fit-content;
    height: fit-content;
}
.header{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.menu{
    gap: 1.5rem;
}

.menu a:hover{
    cursor: pointer;
}
.hero{
    margin-top: 3rem;
    width: 47vw;
}
.hero p{
    margin-top: .5rem;
    font-size: 1.2rem;
    font-weight: 300;
}
.cta{
    margin-top: 4rem;
    gap: .5rem;
    align-items: baseline;
    font-size: 1.1rem;
}
.cta:hover{
  cursor: pointer;
}
.socials{
    font-size: 1.5rem;
    gap: 1rem;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
}


@media only screen and (max-width: 1025px)  {
    .hero{
        width: 100%;
    }
}
@media only screen and (max-width: 425px)  {
    .main{
        padding: 1rem 1rem;
    }
    .hero{
        margin-top: 1.5rem;
    }
    .hero p{
        font-size: 1rem;
    }
    h1{
        margin-top: 1rem;
    }
    .cta{
        margin-top: 1rem;
    }
}